*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #14bdac;
  color: rgb(84,84,84);
}

.container{
  display: flex;

  margin-inline: auto;

  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
  width: 18.75rem;
  height: 18.75rem;

}
.square{
  height: 6.25rem;
  width: 6.25rem;

  text-align: center;

  border: solid grey 3px;

  font-size: 4rem;
  padding: 0.5rem;
}

.PlayerX{
  color: green;
  font-size: 5rem;
}

.PlayerO{
  color: red;
  font-size: 5rem;
}

.result { 
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

.inGame {
  margin-top: 6.625rem;
}