/* ========= GENERAL ============ */
*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  gap: 4rem;

  text-align: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #fff;

  background-image: url('./assets/starsbg.gif')
}

/* ========= CONTAINER ============ */
.container{
  display: flex;
  width: 60%;
  height: 18.75rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.301);
  gap: 3rem;
}
 
.planetImg{
  width: 18.75rem;
  height: 18.75rem;
}
